<header>
    <div class="headerImg">
        <a href="/">
            <div id="headerLeft"></div>
        </a>
        <div id="headerMiddle"></div>
        <div id="headerRight"></div>
    </div>
</header>

<div class="container">
    <div class="pageContent">
        <div id="mainLogo">
            <img src="assets/images/ROOTLogo_main.svg" width="100%" alt="Main Logo">
        </div>

        <div class="user-container">
            <div class="pageTitle">Create A Profile</div>
            <form id="user-form">
                <input class="form-control" placeholder="Enter your name" id="user-name" type="text" />
                <br>
                <input class="form-control" placeholder="Enter your email address" id="user-email" type="email" />
                <br>
                <input class="form-control" placeholder="Enter your password" id="user-password" type="password" />
                <div class="spaceDiv">
                    <button type="submit" class="btn">Create New Profile</button>
                </div>
            </form>
        </div>
    </div>


    <footer>
        <div class="footerImgs">
            <div id="dislikeBtn">
                <a href="/disliked">
                    <img src="assets/images/icons-01.svg" width="50px">
                </a>
                <br>View Dislikes</div>
            <div id="cameraBtn">
                <a href="/addproduct">
                    <img src="assets/images/addIcon.svg" width="60%">
                </a>
            </div>
            <div id="likeBtn">
                <a href="/liked">
                    <img src="assets/images/icons-03.svg" width="50px">
                </a>
                <br>View Likes</div>
        </div>
    </footer>